<form class="container text-center">
    <div cdkDropListGroup>
        <div class="example-container">
            <h2>Potrebno mi je: </h2>
            <form [formGroup]="form" (ngSubmit)="addTask()">
                <div class="input-group mb-3">
                    <div class="input-group-prepend"></div>
                    <input type="text" class="form-control" placeholder="Unesi potrepštinu" formControlName="name">
                    <input type="number" class="form-control" placeholder="Unesi cenu" formControlName="price">
                    <button type="submit" class="btn btn-outline-secondary">Sacuvaj</button>
                </div>
            </form>
            <br>
            <div class="example-container">
                <h2>Lista za kupovinu:</h2>
                <div class="row">
                    <div class="input-group-prepend"></div>
                    <div class="col-8">
                        <div cdkDropList [cdkDropListData]="todo" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="example-list">
                            <div class="example-box" *ngFor="let item of price" cdkDrag>{{item}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Ukupno novca:</h2>
            <div class="example-list" class="container text-center">
                <div class="example-box" class="col-md-auto" style="font-weight:bold; font-size: 20px; color: #182853">
                    {{sum}}</div>
            </div>
        </div>
    </div>
</form>