<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <hr>
            <a routerLink="/home" class="list-item" routerLinkActive="selected">
                <i class="material-icons">home</i>
                HOME
            </a>

            <a routerLink="/board" routerLinkActive="selected" class="list-item">
                <i class="material-icons">assignment</i>
                PANO
            </a>

            <a routerLink="/list" routerLinkActive="selected" class="list-item">
                <i class="material-icons">add_shopping_cart</i>
                LISTA ZA KUPOVINU
            </a>

            <a routerLink="/register" routerLinkActive="selected" class="list-item">
                <i class="material-icons">face</i>
                REGISTRACIJA
            </a>
            <a routerLink="/register" routerLinkActive="selected" class="list-item" *ngIf="user !== ''" (click)="logout()">
                <i class="material-icons">logout</i>
                ODJAVA
            </a>
        </div>
    </div>

    <div class="page-content-container">
        <h1 style="font-size: 30px;">PLANER</h1>
        <hr>
        <router-outlet></router-outlet>
    </div>

</div>